{% extends 'base.html' %}
{% block content %}

<h1> this is product page</h1>

<div>
    <div class="product-list-container">
        {% for n in product_data %}
        <div class="product-card">
          <img src="/media/{{n.product_image}}"|resize:"200*150",C alt="Product Name">
          <h3 class="product-title" >{{n.product_title}}</h3>
          <p class="product-description">{{n.product_description}}</p>
          <p class="product-price">$10.00</p>
        </div>
        {%endfor%}
        <!-- Add more product card elements here as needed -->
        

</div>
{% endblock %}