{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/product.css">
<h1> this is product page</h1>

<div>
    <div class="product-list-container">
        {% for n in product_data %}
        <div class="product-card">
          <img srcset="/media/{{n.product_image}} 400w, /media/{{n.product_image}} 800w" src="/media/{{n.product_image}}" alt="Product Name" sizes="(max-width: 600px) 400px, 80vw" width="400" height="300">
          
          <h3 class="product-title" >{{n.product_title}}</h3>
          <p class="product-description">{{n.product_description}}</p>
          <p class="product-price">$10.00</p>
        </div>
        {%endfor%}
        <!-- Add more product card elements here as needed -->
        

</div>
{% endblock %}

